debian/debhelper-build-stamp
debian/files
debian/google-android-sdk-docs-installer/
debian/google-android-sdk-docs-installer.debhelper.log
debian/google-android-sdk-docs-installer.postrm.debhelper
debian/google-android-sdk-docs-installer.substvars
